<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="copyright">
                <span>&copy; 2024 CLAYE MALOUNGA. Tous droits réservés</span>
            </div>
            <div class="social-links">
                <a href="#" class="social-link">
                    <i class="fab fa-github"></i>
                </a>
                <a href="#" class="social-link">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#" class="social-link">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
